@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffa07a;
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    height: 90vh;
    width: 90vw;
    background-color: #90ee90;
}

section{
    padding: 10px;
    background-color: #20b2aa;
    border: 1px solid black;
    flex-basis: 500px;
    /* propriedade que altera o comportamento de tamanho dos itens dentro de um container flex-box */
    /* auto             -> mantem um tamanho de forma que o conteúdo do item caiba dentro dele, diminuindo até o tamanho máximo possível levando em conta ele e aumentando ate um tamanho pouco maior que o conteúdo. Valor padrão. */
    /* N#px             -> valor que estabelece um tamanho padrão para o item que diminui se necessário */
}